# This configuration file belongs in ~/.config/asbo/asbo.conf

REPO=/tmp/asbo/slackbuilds
CACHEDIR=/tmp/asbo/cache
STAGEDIR=/tmp/asbo/stage
LOGDIR=/tmp/asbo/log

# These variables are not used by asbo but affect .SlackBuild scripts.
# TMP=/tmp/asbo/build
# OUTPUT=/tmp/asbo/output
# MAKEFLAGS=-j6

# vim: ft=sh
