# This configuration file belongs in ~/.config/asbo/asbo.conf

REPO=/var/tmp/asbo/slackbuilds
CACHEDIR=/var/tmp/asbo/cache
STAGEDIR=/var/tmp/asbo/stage
LOGDIR=/var/tmp/asbo/log

# These variables are not used by asbo but affect .SlackBuild scripts.
# OUTPUT=/var/tmp/asbo/output
# MAKEFLAGS=-j6

# vim: ft=sh
